
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

*{
    padding: 0px;
    margin 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    
    -webkit-background-size: cover;
    background-size: cover;
}

/*diseño del nav*/

body{background: #FEFEFE;}

.menu_bar{
    display: none;
}

header{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

header nav{
    background: transparent;
    z-index: 1000;
    width: 100%;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    position: relative;
}

header nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}

header nav ul li a span{
    margin-right: 10px;
}

header nav ul li:hover{
    background: rgba(0,0,0,.7);
}

/*submenu*/

header nav ul li:hover .children{
    display: block;
}



header nav ul li .children{
    display: none;
    background: rgba(255,255,255,0.2);
    position: absolute;
    width: 150%;
    z-index: 1000;
}

header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a{
    display: block;
}

header nav ul li .children li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

/*flecha de sub menú*/

header nav ul li .caret{
    position: relative;
    top 3px;
    margin-left: 10px;
    margin-right: 0px;
}


/*---------------------------Inicio del Wallpaper------------------------*/

section#contenedor_general{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: -1;
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    overflow: hidden;
}




/*----------------------Aplicando el responsive en al header-----------------------*/


@media screen and (max-width:800px) {
    body{
        padding-top: 72px;
    }
    
    .menu_bar{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #E6344A;
    }
    
    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .menu_bar span{
        float: right;
        font-size: 40px;
    }
    
    header nav {
        width:80%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }
    
    mostrar{
        right: 0%;
    }
    
    header nav ul li{
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
    
    header nav ul li a {
        display: block;
    }
    
     header nav ul li:hover .children {
    
        display: none;
    }
    
    header nav ul li a .children {
        width: 100%;
        position: relative;
    }
    
       header nav ul li a .children li a {
        margin-left: 20px;
    }
    
    header nav ul li .caret{
        float: right;
    }
}

/*-----------------------Registro-----------------------*/
.registro{
    width:40%;
    background: rgba(0,0,0,.6);
    position: relative;
    color: black;
    top: 65px;
    border-radius: 5px;
    font-family: sans-serif;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    align-content: center;
}

.tema{
    width: 100%;
    padding: 20px;
    background: rgba(0,0,0,.8);
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.tema-login{
    font-family: 'Open Sans', sans-serif;
}


.formu{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
 }

.input-text{
    width: 40%;
    padding: 10px;
    margin: 15px 5px;
    font-size: 15px;
}

.big{
    width: 83%;
    margin: 15px 25px;
}

.boton{
    width: 100%;
    margin: 10px 10px;
    background: transparent;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.boton-registro{
    width:25%;
    padding: 15px;
    border: 0;
    margin-right: 35px;
    background: rgba(0,0,0,.9);
    color: white;
}

/*---------------------LOGIN---------------------------*/

.contenedor-1{
    width:700px;
    background: rgba(1,1,1,.8);
    padding: 20px;
    position: relative;
    color: white;
    top:95px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    align-content: center;
}

h2{
    margin-left: 20px;
}

form{
    margin: 5px;
    padding: 5px;
}


 .texto{
     width: 250px;
     padding: 10px;
     font-family: sans-serif;
     font-size: 17px;
     border-radius: 5px;
     margin: 15px 0px;
     margin-left:10px;
}

.botoncito{
    width: 90px;
    background: #741111;
    border: 0;
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.imagen{
    padding: 20px;
    border-left: 1px solid #fff;
}

.abajo{
    width: 500px;
    color: white;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    top:110px;
    position: relative;
    margin: auto;
}

h3 a{
    text-decoration: none;
    color: #0094ff;
}



